Repository billilge/frontend, pull requests merged in 2025-02, with the labels that each got.

#7 [Init/#6] tailwind.config 컬러, 폰트 세팅
  tailwind.config.ts
Labels: :wrench: INIT

#8 [Init/#5] prettier & eslint 세팅
  .eslintrc.json
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/autoLabel.yml
  .prettierrc
  next.config.ts
  package.json
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/page.tsx
  src/components/Button/index.tsx
  tailwind.config.ts
  tsconfig.json
  yarn.lock
Labels: :wrench: INIT

#11 [Fix/#10] global.css 로 인해 next dev 명령어가 실행되지 않는 문제 해결
  .eslintrc.json
  package.json
  postcss.config.js
  postcss.config.mjs
  src/app/desktop/login/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  tailwind.config.ts
  yarn.lock
Labels: :bug: BUG

#13 [Feat/#9] 학생회비 납부자 조회 페이지 구현
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/frontend.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLinters/eslint.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/vcs.xml
  components.json
  package.json
  src/app/desktop/payer-inquiry/_components/TableComponent/index.tsx
  src/app/desktop/payer-inquiry/page.tsx
  src/app/globals.css
  src/components/desktop/Button/index.tsx
  src/components/desktop/Header/index.tsx
  src/components/desktop/Search/index.tsx
  src/components/desktop/SideBar/index.tsx
  src/components/ui/input.tsx
  src/components/ui/search-input.tsx
  src/components/ui/sheet.tsx
  src/components/ui/table.tsx
  src/lib/utils.ts
  tailwind.config.ts
  yarn.lock
Labels: :sparkles: FEAT

#16 [init/#15]: 모바일 뷰를 위한 레이아웃 구현
  src/app/mobile/page.tsx
  src/components/mobile/layout/index.tsx
Labels: :sparkles: FEAT, :wrench: INIT

#19 [Feat/#17] 모바일 Header 공통 컴포넌트 추가
  package.json
  public/assets/icon-arrow.svg
  public/assets/icon-hamburger.svg
  src/app/mobile/page.tsx
  src/components/mobile/Header/index.tsx
Labels: :sparkles: FEAT

#21 [Feat/#20] 사용자 / 관리자 알림 페이지 퍼블리싱
  public/assets/icon-bell.svg
  src/app/globals.css
  src/app/mobile/admin/notification/page.tsx
  src/app/mobile/notification/page.tsx
  src/components/mobile/Header/index.tsx
  src/components/mobile/NotificationItem/index.tsx
  src/constants/notificationStatus.ts
  src/types/notificationType.ts
  src/utils/elapsedTime.ts
  tailwind.config.ts
  yarn.lock
Labels: :sparkles: FEAT

#25 [Feat/#24] 드롭다운 공통 컴포넌트 생성
  src/app/mobile/page.tsx
  src/components/mobile/Dropdown/index.tsx
  src/hooks/useDropdown.ts
Labels: :sparkles: FEAT

#33 [Feat/#31] Spacing 공통 컴포넌트 추가
  src/app/mobile/page.tsx
  src/app/mobile/sign-in/page.tsx
  src/components/mobile/Spacing/index.tsx
Labels: :sparkles: FEAT

#32 [Feat/#14] 학생회비 납부자 페이지 구현
  .gitignore
  package.json
  src/app/desktop/payer-inquiry/_components/TableComponent/index.tsx
  src/app/desktop/payer-inquiry/page.tsx
  src/components/desktop/AddInput/index.tsx
  src/components/desktop/AddStudentId/index.tsx
  src/components/desktop/Search/index.tsx
  src/components/desktop/Sidebar/index.tsx
  src/components/ui/button.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/table.tsx
  tailwind.config.ts
Labels: :sparkles: FEAT

#36 [Fix/#35] ESLint 세팅 수정
  .eslintrc.json
Labels: :bug: BUG

#34 [Feat/#28] 회원가입 / 로그인 퍼블리싱
  public/assets/icons/icon-arrow.svg
  public/assets/icons/icon-bell.svg
  public/assets/icons/icon-google.svg
  public/assets/icons/icon-hamburger.svg
  public/assets/images/image-login-logo.svg
  src/app/mobile/admin/dashboard/page.tsx
  src/app/mobile/sign-in/page.tsx
  src/app/mobile/sign-up/page.tsx
  src/components/mobile/Header/index.tsx
  src/components/mobile/NotificationItem/index.tsx
  tailwind.config.ts
Labels: :sparkles: FEAT

#38 [Feat/#23] 대여기록 페이지 퍼블리싱 및 alert창 구현
  public/assets/icons/icon-no-rental.svg
  public/assets/icons/icon-no-return.svg
  public/assets/icons/icon-test.svg
  public/assets/icons/side-menu/admin-alarm.svg
  public/assets/icons/side-menu/admin-dashboard.svg
  public/assets/icons/side-menu/logout.svg
  public/assets/icons/side-menu/rental-history.svg
  public/assets/icons/side-menu/rental-item-list.svg
  public/assets/icons/side-menu/user-alarm.svg
  src/app/mobile/history/_components/RentalItem/index.tsx
  src/app/mobile/history/_components/ReturnItem/index.tsx
  src/app/mobile/history/_components/StatusBadge/index.tsx
  src/app/mobile/history/page.tsx
  src/components/mobile/Alert/index.tsx
  src/components/mobile/layout/index.tsx
  yarn.lock
Labels: :sparkles: FEAT

#40 [Feat/#26] sidebar menu 제작
  public/assets/icons/side-menu/close.svg
  src/components/mobile/Header/index.tsx
  src/components/mobile/SidebarMenu/index.tsx
  src/components/mobile/layout/index.tsx
Labels: :sparkles: FEAT

#43 [Feat/#42] 회원가입 및 로그인 API 연결
  package.json
  src/app/callback/page.tsx
  src/app/mobile/sign-in/page.tsx
  src/app/mobile/sign-up/page.tsx
  src/services/publicAxiosInstance.ts
  src/services/sign-up.ts
  yarn.lock
Labels: :rocket: API, :sparkles: FEAT

#45 [Feat/#39] main page publishing 및 api 연동
  next.config.mjs
  package.json
  public/assets/icons/bottom-sheet/icon-close.svg
  public/assets/icons/bottom-sheet/icon-home-indicator.svg
  public/assets/icons/icon-alarm.svg
  public/assets/icons/icon-search.svg
  public/assets/images/test.png
  public/assets/images/test2.png
  src/apis/item.ts
  src/apis/notification.ts
  src/apis/rental.ts
  src/app/mobile/history/_components/RentalItem/index.tsx
  src/app/mobile/history/_components/StatusBadge/index.tsx
  src/app/mobile/history/page.tsx
  src/app/mobile/main/_components/Carousel/index.tsx
  src/app/mobile/main/_components/MainHeader/index.tsx
  src/app/mobile/main/_components/WelfareItem/index.tsx
  src/app/mobile/main/page.tsx
  src/components/mobile/BottomSheet/index.tsx
  src/components/mobile/SidebarMenu/index.tsx
  src/types/notificationType.ts
  src/types/rentalItemType.ts
  src/types/rentalRequestType.ts
  src/types/returnItemType.ts
  src/types/welfareItemType.ts
  yarn.lock
Labels: :rocket: API, :sparkles: FEAT

#49 [Feat/#48] 알림이 있을 경우에만 알림이 뜨는 기능 / web font fix
  src/app/globals.css
  src/app/mobile/main/_components/MainHeader/index.tsx
  src/app/mobile/main/page.tsx
Labels: :bug: BUG, :sparkles: FEAT

#55 [Feat/#53] PWA 세팅 및 fcm 테스트를 위한 초기 설정
  .gitignore
  next.config.mjs
  package.json
  public/firebase-messaging-sw.js
  public/icons/manifest/icon-192x192.png
  public/icons/manifest/icon-256x256.png
  public/icons/manifest/icon-384x384.png
  public/icons/manifest/icon-512x512.png
  public/manifest.json
  src/app/layout.tsx
  src/app/mobile/main/_components/MainHeader/index.tsx
  src/app/mobile/main/page.tsx
  src/components/mobile/layout/index.tsx
  src/lib/firebase.ts
  src/services/fcm.ts
  src/utils/pushNotification.ts
  src/utils/service-worker.ts
  yarn.lock
Labels: :rocket: API, :sparkles: FEAT

#56 [Feat/#44] 관리자/유저 알림 API 연결
  .eslintrc.json
  .prettierrc
  components.json
  src/app/callback/page.tsx
  src/app/globals.css
  src/app/mobile/admin/notification/page.tsx
  src/app/mobile/notification/page.tsx
  src/app/mobile/sign-up/page.tsx
  src/components/mobile/NotificationItem/index.tsx
  src/services/notification.ts
  src/services/privateAxiosInstance.ts
  src/services/publicAxiosInstance.ts
  src/types/notificationType.ts
  src/utils/service-worker.ts
  tsconfig.json
Labels: :rocket: API, :sparkles: FEAT

#59 [Feat/#58] PWA 앱 배경색 및 이름 변경
  public/manifest.json
Labels: :ambulance: !HOTFIX, :package: CHORE, :sparkles: FEAT

#62 [Feat/#61] 메인에 유저 정보 띄우기 / 권한에 따른 사이드바 메뉴 변경
  src/app/mobile/main/_components/MainHeader/index.tsx
  src/app/mobile/main/page.tsx
  src/components/mobile/Header/index.tsx
  src/components/mobile/SidebarMenu/index.tsx
Labels: :sparkles: FEAT

#63 [Feat/#60] 로그아웃 기능 구현
  src/components/mobile/SidebarMenu/index.tsx
Labels: :sparkles: FEAT

#66 [Fix/#53] pwa 배경 색 수정
  public/manifest.json
Labels: :ambulance: !HOTFIX

#70 [Fix/#69] PWA scope 관련 세팅 및 알림 거부 설정 계속 뜨던 오류 수정
  public/icons/manifest/favicon.ico
  public/manifest.json
  src/app/favicon.ico
  src/app/layout.tsx
  src/utils/pushNotification.ts
Labels: :bug: BUG, :sparkles: FEAT

#68 [Feat/#57] 대시보드 API 연결
  src/app/mobile/admin/dashboard/_components/DashboardItem.tsx
  src/app/mobile/admin/dashboard/page.tsx
  src/services/dashboard.ts
  src/types/dashboardType.ts
Labels: :rocket: API, :sparkles: FEAT

#72 [Feat/#71] 대시보드 내 대여 완료 기능 구현
  src/app/mobile/admin/dashboard/_components/DashboardItem.tsx
  src/app/mobile/admin/dashboard/page.tsx
  src/constants/rentalStatus.ts
Labels: :sparkles: FEAT

#74 [Fix/#73] PWA 첫 진입 시 비로그인 상태에서 메인 화면이 잠시 보이던 현상 수정
  public/manifest.json
  src/app/mobile/sign-in/page.tsx
Labels: :bug: BUG, :sparkles: FEAT
