Repository billilge/frontend, pull requests merged in 2025-03, with the labels that each got.

#76 feat: 관리자 데스크탑 로그인 페이지 구현
  src/app/callback/page.tsx
  src/app/desktop/login/page.tsx
  src/services/admins.ts
  src/utils/loginHandler.ts
Labels: :rocket: API, :sparkles: FEAT

#79 [Feat/#78] 데스크탑 조회 시 검색 기능 구현
  src/app/desktop/admin-inquiry/page.tsx
  src/app/desktop/item-list/_components/ItemTable/index.tsx
  src/app/desktop/item-list/page.tsx
  src/app/desktop/payer-inquiry/page.tsx
  src/app/desktop/rental-history/_components/RentalsTable/index.tsx
  src/components/desktop/Search/index.tsx
  src/components/desktop/Sidebar/index.tsx
  src/components/ui/search-input.tsx
  src/services/admins.ts
  src/services/items.ts
  src/services/payers.ts
Labels: :rocket: API, :sparkles: FEAT

#83 [Fix.#82] 자잘한 디자인 이슈 수정
  src/components/mobile/Header/index.tsx
  src/components/mobile/NotificationItem/index.tsx
Labels: :bug: BUG

#87 [Feat/#86] vercel 배포를 위한 repo 자동 동기화 구현
  .github/workflows/autoSync.yml
Labels: :sparkles: FEAT

#88 [Feat/#85] 로그인/어드민 검사 기능 구현
  src/app/desktop/layout.tsx
  src/app/layout.tsx
  src/app/mobile/admin/dashboard/page.tsx
  src/app/mobile/admin/notification/page.tsx
  src/app/mobile/sign-in/page.tsx
  src/components/mobile/layout/index.tsx
  src/hooks/useAuthRedirect.ts
  src/services/privateAxiosInstance.ts
Labels: :sparkles: FEAT

#84 [Feat/#80] 데스크탑 API 페이지네이션 연결
  src/app/desktop/admin-inquiry/_components/AdminTable/index.tsx
  src/app/desktop/admin-inquiry/page.tsx
  src/app/desktop/item-list/_components/ItemTable/index.tsx
  src/app/desktop/item-list/page.tsx
  src/app/desktop/payer-inquiry/_components/TableComponent/index.tsx
  src/app/desktop/payer-inquiry/page.tsx
  src/app/desktop/rental-history/_components/RentalsTable/index.tsx
  src/app/desktop/rental-history/page.tsx
  src/services/admins.ts
  src/services/items.ts
  src/services/payers.ts
  src/services/rentals.ts
  src/types/admins.ts
  src/types/items.ts
  src/types/paginationType.ts
  src/types/payers.ts
  src/types/rentals.ts
Labels: :bug: BUG, :rocket: API, :sparkles: FEAT

#89 [Fix/#77] 모바일 메인 검색창 클릭시 확대되는 현상 / 알림 디자인 및 로직 수정
  src/app/layout.tsx
  src/app/mobile/main/_components/MainHeader/index.tsx
Labels: :bug: BUG, :sparkles: FEAT

#92 [Feat/#90] 서버에서 중복 대여 응답 보낼 때 모달 띄우기 / 모달 css 수정
  src/apis/rental.ts
  src/components/mobile/Alert/index.tsx
  src/components/mobile/BottomSheet/index.tsx
  src/components/mobile/Header/index.tsx
Labels: :rocket: API, :sparkles: FEAT

#94 [Feat/#93] 필터링 드롭다운메뉴 기능 추가 / 대여기록 api 호출시점 변경
  src/app/mobile/history/page.tsx
Labels: :recycle: REFACTOR, :sparkles: FEAT

#95 [fix/#77] input창 클릭시 확대 되는 현상 수정
  src/app/layout.tsx
Labels: :bug: BUG, :sparkles: FEAT

#98 [Refactor/#97] carousel link 변경
  src/app/mobile/main/page.tsx
Labels: :recycle: REFACTOR, :sparkles: FEAT

#102 [Feat/#101] 404 페이지 생성
  src/app/mobile/sign-in/page.tsx
  src/app/not-found.tsx
Labels: :sparkles: FEAT

#105 [Feat/#103] 캐러셀 이미지 변경 및 링크 추가 기능 구현
  public/assets/images/carousel/google-form.png
  public/assets/images/carousel/pwa-notion.png
  public/assets/images/test.png
  public/assets/images/test2.png
  src/app/mobile/main/_components/Carousel/index.tsx
  src/app/mobile/main/page.tsx
Labels: :sparkles: FEAT

#104 [Feat/#96] 물품 수정 api 연결
  src/app/desktop/(nav-bar)/item-list/_components/ItemSidebar/index.tsx
  src/app/desktop/(nav-bar)/item-list/_components/ItemTable/index.tsx
  src/services/items.ts
  src/types/items.ts
Labels: :rocket: API, :sparkles: FEAT

#106 [Feat/#103] 개인정보 이용약관 페이지 추가
  public/assets/icons/side-menu/privacy-policy.svg
  src/app/mobile/privacy-policy/page.tsx
  src/app/mobile/privacy-policy/privacyPolicyData.ts
  src/components/mobile/SidebarMenu/index.tsx
Labels: :sparkles: FEAT

#107 [Refactor/#103] 캐러셀 이미지 변경
  public/assets/images/carousel/google-form.png
  public/assets/images/carousel/pwa-notion.png
Labels: :recycle: REFACTOR

#109 [Feat/#108] 버튼 클릭 시 scale
  src/app/mobile/admin/dashboard/_components/DashboardItem.tsx
  src/app/mobile/main/_components/WelfareItem/index.tsx
  src/app/mobile/page.tsx
  src/components/mobile/Alert/index.tsx
  src/utils/handleTouch.ts
Labels: :sparkles: FEAT

#115 [Feat/#113] 대시보드에 개수 추가
  src/app/desktop/(nav-bar)/rental-history/page.tsx
  src/app/mobile/admin/dashboard/_components/DashboardItem.tsx
  src/app/mobile/admin/dashboard/page.tsx
  src/app/mobile/admin/notification/page.tsx
  src/components/desktop/NavBar/NavBar.tsx
  src/components/mobile/BottomSheet/index.tsx
  src/lib/firebase.ts
  src/types/dashboardType.ts
Labels: :sparkles: FEAT

#112 [Feat/#111] 대여 실패시 alert창
  src/components/mobile/BottomSheet/index.tsx
  src/components/mobile/MessageAlert/index.tsx
Labels: :sparkles: FEAT

#117 [fix/#116] 대여버튼 여러 번 클릭시, api 중복 호출 수정
  src/components/mobile/BottomSheet/index.tsx
Labels: :bug: BUG

#119 [Fix/#118] 바텀시트 수량/시간 input 클릭 시 확대되는 버그 수정
  src/components/mobile/BottomSheet/index.tsx
Labels: :bug: BUG

#122 [Feat/#120] 운영시간 변경에 따른 입력조건 로직 수정
  src/components/mobile/BottomSheet/index.tsx
Labels: :sparkles: FEAT

#123 [Feat/#121] 공지사항 팝업 구현
  src/app/mobile/main/page.tsx
  src/components/mobile/BottomSheet/index.tsx
  src/components/mobile/PopUp/index.tsx
Labels: :sparkles: FEAT
